language: php

matrix:
  include:
    - php: 7.2
    - php: 7.4
    - php: 8.0
    - php: 8.0
      env: deps=low

  fast_finish: true

cache:
    directories:
        - vendor/bin/.phpunit

env:
  global:
    - SYMFONY_DEPRECATIONS_HELPER=99999

before_script:
    - |
      export COMPOSER_UP='composer update --no-interaction --no-progress --ansi'

    - |
      if [[ $deps = low ]]; then
          $COMPOSER_UP --prefer-lowest --prefer-stable
      else
          $COMPOSER_UP
      fi

script:
    - ./vendor/bin/simple-phpunit
